


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
  }
  
  header {
    background-color: #ec54d2;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  header .profile img {
    width: 200px;
    height: 230px;
    border-radius: 50%;
    border: 4px solid white;
    margin-bottom: 10px;
  }
  
  header .profile h1 {
    margin: 10px 0 5px;
  }
  
  header .profile h2 {
    margin: 0;
    font-weight: 300;
  }
  
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  section {
    margin-bottom: 20px;
  }
  
  section h2 {
    margin-bottom: 8px;
    color: #ec54d2;
  }
  
  
  
  li {
    list-style: circle;
    padding-left: 10px;
  }
  
  footer {
    text-align: center;
    padding: 10px 0;
    background-color: #ec54d2;
    color: white;
    margin-top: 20px;
  }
  
  
  .contact-info {
    display: flex;           /* Koristimo flexbox za horizontalno poravnanje */
    align-items: center;     /* Poravnava sve elemente po vertikali */
    justify-content: center; /* Centriranje elemenata horizontalno */
    gap: 15px;               /* Razmak između elemenata */
  }
  
  .info {
    font-size: 14px;         /* Velicina fonta za kontakt informacije */
  }
  
  .info i {
    margin-right: 5px;       /* Razmak između ikone i teksta */
  }
  